* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --total: 8; /* How many items to be displayed in a ring on Screen2 */
  --radius: 150px; /* Circle size */
}

.container {
  width: 400px;
  height: 600px;
  border: 1px solid white;
  margin: 2rem;
}

nav {
  border-bottom: 1px solid white;
  width: calc(400px - 1rem);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 2rem;
  background: black;
}

.stored-variables {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    border: 1px solid white;
    padding: 0.5rem;
  }
}

main {
  display: flex;
  height: calc(100% - 4.6rem);
  width: 100%;
  border-top: 1px solid transparent;
}

.screen-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .option {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      background: rgb(125, 15, 15);
    }

    &:nth-child(2) {
      background: rgb(25, 8, 157);
    }

    .option-name {
      font-size: 2rem;
    }
  }
}


/* SCREEN 2 */
.screen-2 {
  position: relative;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  margin: auto;
}

.clone-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: -45px;
  
  background: #667eea;
  color: white;
  border-radius: 50%;
  border: none;
  
  display: grid;
  place-items: center;
  font-weight: 600;
  
  --angle: calc(360deg / var(--total) * var(--i));
  
  transform: 
    rotate(var(--angle))              /* Rotate to position */
    translateX(var(--radius))         /* Move away from center */
    rotate(calc(-1 * var(--angle)));  /* Rotate back */
    /* Credit: https://medium.com/@mohitphogat/how-to-arrange-elements-in-a-circle-using-just-css-no-javascript-required-1bd35582307f */
}