/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --total: 8; /* How many items to be displayed in a ring on Screen2 */
  --radius: 150px; /* Circle size */
}

.container {
  width: 400px;
  height: 600px;
  border: 1px solid white;
}

.menu-bar {
  border-bottom: 1px solid white;
  width: calc(400px - 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 2rem;
  background: black;

  .menu-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}

.stored-variables {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    border: 1px solid white;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

main {
  display: flex;
  height: calc(100% - 2.2rem);
  width: 100%;
  border-top: 1px solid transparent;
}


/* SCREENS 1, 3, and 4: BINARY OPTIONS */
.screen-1, .screen-3, .screen-4, .screen-5, .screen-6, .screen-7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &.side-split { 
    flex-direction: row;
  }

  .option-row {
    display: flex;
    height: 25%;
    border-top: 1px solid white;

    .option {
      height: 100%;
      
      &:first-of-type {
        border-right: 1px solid white;
      }

      &.fire {
        background: rgb(189, 62, 23);
      }

      &.earth {
        background: rgb(177, 146, 4);
      }

      &.wind {
        background: rgb(80, 177, 99);
      }

      &.dark {
        background: rgb(87, 47, 148);
      }
    }
  }

  .option {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease;

    &:nth-child(1) {
      background: rgb(180, 50, 80);
      border-bottom: 1px solid white;
    }

    &:nth-child(2) {
      background: rgb(30, 135, 255);
    }

    .option-name {
      font-size: 2rem;
    }

    &.west {
      height: 100%;
      background: rgb(151, 59, 237)!important;
    }

    &.east {
      height: 100%;
      background: rgb(255, 200, 0)!important;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}


/* SCREEN 2: CLONE POSITION */
.screen-2 {
  position: relative;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  margin: auto;
}

.clone-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: -45px;
  
  background: #667eea;
  color: white;
  border-radius: 50%;
  border: none;
  
  display: grid;
  place-items: center;
  font-weight: 600;
  
  --angle: calc(360deg / var(--total) * var(--i));
  
  transform: 
    rotate(var(--angle))              /* Rotate to position */
    translateX(var(--radius))         /* Move away from center */
    rotate(calc(-1 * var(--angle)));  /* Rotate back */
    /* Credit: https://medium.com/@mohitphogat/how-to-arrange-elements-in-a-circle-using-just-css-no-javascript-required-1bd35582307f */
}

.summary-screen {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  .mech-group {
    height: 25%;
    border-top: 1px solid grey;
    padding-top: 1rem;

    &:first-of-type {
      border-top: none;
      padding-top: none;
      height: 20%;
    }

    h2 {
      font-weight: 500;
      /* font-size: 1.6rem; */
    }

    p {
      margin: 0.5rem;
      font-size: 1.1rem;
    }
  }
}


.output {
  ul {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    list-style-type: none;
  }

  li {
    margin-bottom: 2rem;
    font-size: 2rem;

    &:first-of-type {
      font-size: 3rem;
    }
  }
}