* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 400px;
  height: 600px;
  border: 1px solid white;
  margin: 2rem;
}

nav {
  border-bottom: 1px solid white;
  width: calc(400px - 1rem);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 2rem;
  background: black;
}

main {
  display: flex;
  height: calc(100% - 2.1rem);
  width: 100%;
  border-top: 1px solid transparent;
}

.screen-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .option {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      background: rgb(125, 15, 15);
    }

    &:nth-child(2) {
      background: rgb(25, 8, 157);
    }

    .option-name {
      font-size: 2rem;
    }
  }
}