:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 400px;
  height: 600px;
  border: 1px solid white;
  margin: 2rem;
}

nav {
  border-bottom: 1px solid white;
  width: calc(400px - 1rem);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  background: black;
}

main {
  width: 100%;
  height: 100%;
}